@page
@using EShop.Web.Pages.Baskets
@using Volo.Abp.Users
@using EShop.Localization
@using System.Globalization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@using Volo.Abp.Http.Client
@model EShop.Web.Pages.Baskets.IndexModel
@inject IStringLocalizer<EShopResource> L
@inject CurrentUser CurrentUser
@{
    const int productsColumnSize = 10;
}
@section styles {
    <abp-style src="/Pages/Baskets/Basket.css" />
}
@section scripts
{
    <abp-script src="/Pages/Baskets/Index.js"></abp-script>
}

<div>
    @if (!Model.BasketItems.Any())
    {
        <div class="basket-list">
            <abp-row>
                <abp-card>
                    <abp-card-body>
                        <h3 style="text-align: center">@L["EmptyBasket"]</h3>
                        <br />
                        <div style="text-align: center">
                            <span>
                                @L["CheckOtherProducts"] <a href="/">@L["ContinueShopping"]</a>
                            </span>
                        </div>

                    </abp-card-body>
                </abp-card>
            </abp-row>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-9">
                <div class="basket-list flex-container vertical">
                    @foreach (var items in Model.BasketItems)
                    {
                        @foreach (var item in Model.Baskets)
                        {
                            var price = item.TotalPrice.ToString("0.00");
                            <div class="card basket-list-item" data-product-id="@items.ProductId">
                                <div class="card-body">
                                    <div class="flex-container horizontal">
                                        <div class="image-container flex-item">
                                            <img class="basket-item-image" src="https://localhost:44368/api/app/file/image?fileName=@items.ProductId" />
                                        </div>
                                        <div class="flex-item">
                                            <div class="flex-container vertical description-container">
                                                <div class="flex-item description-header">
                                                    <span>@price</span>
                                                </div>
                                                <div class="flex-item description-cargo">
                                                    <span>
                                                        <i class="fa fa-truck"></i> @L["FreeCargo"]
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="remove-container hide flex-item">
                                            <i class="fa fa-trash basket-item-remove" title="@L["RemoveFromBasket"]"></i>
                                        </div>
                                        <div class="actions-container flex-item">
                                            <a href="" class="basket-item-increase">
                                                <i class="fa fa-plus-circle"></i>
                                            </a>
                                            <span class="basket-item-count">@items.ProductCount</span>
                                            <a href="" class="basket-item-decrease">
                                                @{
                                                    string removeIcon = items.ProductCount <= 1 ? "fa-trash" : "fa-minus-circle";
                                                }
                                                <i class="fa @removeIcon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>






